* { box-sizing: border-box; }

header {
  background: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
}
/*nav classes*/

.righttop {
  float: right;
  color: grey;
  padding: .8rem 1rem;
  border-right: none;
}

/*nav elements*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: .1rem solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: .8rem 1rem;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/*body classes*/

.introimg {
  display: block;
  margin: auto;
  max-width: 75%;
  max-width: 75%;
  padding-top: 3rem;
}

.projectimg {
  display: block;
  margin: auto;
  max-width: 35%;
  height: auto;
  padding-top: 3rem;
}

.iconcontainer {
  text-align:center;
}

.iconimg {

  border: .05rem solid #ddd;
  border-radius: .25rem;
  padding: .25rem;
  height: 2rem;
  width: 2rem;
}

.iconimg:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.caption {
  font-style: italic;
  text-align: center;
  font-size: 1rem;
}

.bottomnav {
  text-align: center;
}

.copyright {
  text-align: center;
  font-style: italic;
}

.poem {
  font-family: 'Tangerine', cursive;
  font-size: 2rem;
  text-align: center;
  line-height: 1.75rem;
  padding-bottom: 3rem;
}

.resinfo {
  text-align: center;
  padding-top: 5rem;
}

.resinfo p {
  display: block;
  margin: auto;
  width: 50%;
  padding-bottom: .25rem;
}

.resform {
  text-align: center;
  padding-top: 2rem;
}

.resform input {
  margin: .5rem .5rem;
}

.resform fieldset {
  margin: 1rem 5rem;
  display: inline-block;
}

/*Gallery To Do: Turn into flex box*/

.aboutbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5rem;
}

.about {
  margin: auto;
  text-align: center;
}

.aboutimg {
  width: 11rem;
  height: 13rem;
  padding: 1rem 1rem 1rem 1rem;
  margin: auto;
}

.aboutimg:hover {
  box-shadow: 0 0 2px 1px rgb(255, 51, 153);
}

/*body elements*/

body.galx {
  background-image: url("../images/paintedgalxbp1.jpg");
  background-attachment: fixed;
  background-size: cover;
  /*background-color: lightblue;*/
}

h1 {
  text-align: center;
  letter-spacing: .5rem;
}

h2 {
  text-align: center;
  letter-spacing: .25rem;
}

h3 {
  text-align: center;
  padding-top: 1rem;
}

h4 {
  text-align: center;
}

h5 {
  text-align: center;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  padding-top: 5rem;
}

/*Transitions and Animations*/

.wig:hover {
  animation: wiggle 1s ease .1s;
}

@keyframes wiggle {
  10%, 90% {
  transform: translate3d(-.25rem, 0, 0);
  }

  20%, 80% {
    transform: translate3d(.25rem, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-.75rem, 0, 0);
  }

  40%, 60% {
    transform: translate3d(.75rem, 0, 0);
  }
}
