/*nav classes*/

.righttop {
  float: right;
  color: grey;
  padding: 14px 16px;
  border-right: none;
}

/*nav elements*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/*body classes*/

.projectimg {
  display: block;
  margin: auto;
  max-width: 25%;
  height: auto;
}

.iconcontainer {
  text-align:center;
}

.iconimg {

  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 15px;
  width: 15px;
}

.iconimg:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.caption {
  font-style: italic;
  text-align: center;
  font-size: 12px;
}

.bottomnav {
  text-align: center;
}

.copyright {
  text-align: center;
  font-style: italic;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/*body elements*/

h1 {
  text-align: center;
  letter-spacing: 2px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

h5 {
  text-align: center;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  padding: .5rem;
  text-align: center;
}
